.wrapper_jeux {
  display: flex;
  justify-content: end;
  align-items: end;

}

.wrapper_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

.progress_bar {
  position: relative;
  height: 20px; 
  width: 80vw;
  background-color: #eee;
}

.progress {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #007bff;
}
.skull_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skull {
  width: 60%;

  @media screen and (min-width: 380px) {
    width: 50%;
  }

  @media screen and (min-width: 570px) {
    width: 30%;
  }

  @media screen and (min-width: 850px) {
    width: 20%;
  }
}

.texte {
  text-align: center;
  background-color: #c5c5c5;
  height: 150px;
  font-size:xx-large;
}